<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App | New Genre</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../../static/css/base.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</head>

<body>
    <!--NavBar-->
    <header>
        <nav>
            <ul class="nav-bar">
                <a class="logo" href="/">
                    <i class="material-icons">music_note</i>
                    <span class="logo-text">Music App</span>
                </a>
                <span class="menu">
                    <li><a href="/admin/dashboard">Artists</a></li>
                    <li><a href="/song">Songs</a></li>
                    <li><a href="/playlist">Playlist</a></li>
                    <li><a href="/admin/dashboard">Dashboard</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </span>
                <span class="logo menu-trigger hidden">
                    <i class="material-icons">menu</i>
                </span>
            </ul>
        </nav>
    </header>

    <div class="content">
        <div class="form-container">
            <form action="/genre/new" method="POST">
                <h1>Add New Genre</h1>
                <hr />
                <div class="input-container">
                    <label for="genreName">Genre Name</label>
                    <input type="text" name="genreName" id="genreName" placeholder="Enter genre's name" style="width: 540px;" required />
                </div>
                <div class="input-container">
                    <label for="genreDescription">Tell something about the genre</label>
                    <textarea type="text" name="genreDescription" id="genreDescription" placeholder="Genre Description>" style="width: 540px;"></textarea>
                </div>
                <div class="input-container">
                    <input type="submit" title="Add Genre" />
                </div>
            </form>
        </div>
    </div>

    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %} -->

    <!-- JS -->
    <script type="text/javascript" src="../../static/js/base.js"></script>
</body>

</html>