<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App | Login</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/creator_dashboard.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</head>

<body>
    <!--NavBar-->
    <header>
        <nav>
            <ul class="nav-bar">
                <a class="logo" href="/">
                    <i class="material-icons">music_note</i>
                    <span class="logo-text">Music App</span>
                </a>
                <span class="menu">
                    <li><a href="/auth/register">Register</a></li>
                    <li><a href="/auth/login">User Login</a></li>
                    <li><a href="/auth/adminLogin">Admin Login</a></li>
                </span>
                <span class="logo menu-trigger hidden">
                    <i class="material-icons">menu</i>
                </span>
            </ul>
        </nav>
    </header>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <i class="home_logo material-icons" style="font-size: xx-large;">music_note</i>
                <h1 class="title">Music App</h1>
                <p class="description" style="max-width: 420px;">A music app that allows you to listen to your favorite songs, be a creator and release songs, albums and create your own
                    playlists.</p>
            </div>
        </div>
        <div class="row">
            <div class="bigButton">
                <a href="/auth/login">
                    <i class="material-icons">play_circle</i>
                    <span class="button-text">Get Started</span>
                </a>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- JS -->
    <script type="text/javascript" src="../static/js/base.js"></script>
</body>

</html>