<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container mt-5">
        <h2>All Users</h2>
        <form method="post" action="{{ url_for('admin_users') }}">
            <div class="form-group">
                <label for="search_query">Search:</label>
                <input type="text" class="form-control" id="search_query" name="search_query" value="{{ search_query }}">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">User Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <form method="post" action="{{ url_for('admin_users') }}">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container mt-5">
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary mt-4">Go Back</a>
    </div>

</body>
</html>