<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App | Edit Playlist</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../../static/css/base.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</head>

<body>
    <!--NavBar-->
    <header>
        <nav>
            <ul class="nav-bar">
                <a class="logo" href="/">
                    <i class="material-icons">music_note</i>
                    <span class="logo-text">Music App</span>
                </a>
                <span class="menu">
                    <li><a href="/playlist">Playlist</a></li>
                    <li><a href="/song">Songs</a></li>
                    <li><a href="/user/dashboard">Dashboard</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </span>
                <span class="logo menu-trigger hidden">
                    <i class="material-icons">menu</i>
                </span>
            </ul>
        </nav>
    </header>

    <div class="content">
        <div class="form-container">
            <form action="/playlist/{{playlistId}}/edit" method="POST">
                <h1>Edit Playlist</h1>
                <hr />
                <div class="input-container">
                    <label for="playlistName">Playlist Name</label>
                    <input type="text" value="{{playlistName}}" name="playlistName" id="playlistName" placeholder="Enter playlist name" style="width: 540px;" required />
                </div>
                <div class="input-container">
                    <label for="playlistDescription">Tell something about the playlist (Optional)</label>
                    <textarea type="text" name="playlistDescription" id="playlistDescription" placeholder="Playlist Description>" style="width: 540px;">
                    {{playlistDescription}}</textarea>
                </div>
                <!-- Gender -->
                <div class="input-container">
                    <label for="isPublic">Want it to be Public?</label>
                    <div class="radioButtonGroup">
                        <div class="radioOption">
                            {% if isPublic == '1' %}
                            <input type="radio" value="1" name="isPublic" id="maleGender" required checked />
                            {% else %}
                            <input type="radio" value="1" name="isPublic" id="maleGender" required />
                            {% endif %}
                            <label for="maleGender">Yes</label>
                        </div>
                        <div class="radioOption">
                            {% if isPublic == '0' %}
                            <input type="radio" value="0" name="isPublic" id="femaleGender" required checked />
                            {% else %}
                            <input type="radio" value="0" name="isPublic" id="femaleGender" required />
                            {% endif %}
                            <label for="femaleGender">No</label>
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <input type="submit" value="Update Playlist" class="btn" />
                </div>
            </form>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- JS -->
    <script type="text/javascript" src="../../static/js/base.js"></script>
</body>

</html>