<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App | Creator Dashboard</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <link rel="stylesheet" href="../../static/css/creator_dashboard.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</head>

<body>
    <script type="text/javascript">
        let audioElements = {};
        let lastPausedId = null;

        function lyricsModalPopup(songName, songLyrics) {
            console.log(songName, songLyrics);
            const mainScreen = document.querySelector('.mainScreen');
            mainScreen.style.filter = 'blur(10px)';
            const modal = document.querySelector('.modal');
            const modalTitle = document.querySelector('#modalTitle');
            const lyricsBody = document.querySelector('#lyricsBody');

            songLyrics = songLyrics.replace(/(?:\r\n|\r|\n)/g, '<br>');

            modalTitle.innerHTML = songName;
            lyricsBody.innerHTML = songLyrics;

            modal.style.display = 'block';
        }

        function closeModal() {
            const modal = document.querySelector('.modal');
            modal.style.display = 'none';
            const mainScreen = document.querySelector('.mainScreen');
            mainScreen.style.filter = 'blur(0px)';
        }

        function handlePlayPause(songId, songFormat) {
            const playButton = document.querySelector(`#playButton_${songId}`);
            const songCard = document.querySelector(`#songCard_${songId}`);

            if (audioElements[songId] != undefined) {
                if (audioElements[songId].paused) {
                    handlePlay(songId);
                } else {
                    handlePause(songId);
                }
            } else {
                const audioUrl = `/static/music/song/${songId}.${songFormat}`;
                const audioElement = new Audio(audioUrl);
                audioElements[songId] = audioElement;

                audioElement.addEventListener('ended', () => {
                    handlePause(songId);
                });

                handlePlay(songId);
            }
        }

        function handlePlay(songId) {
            const playButton = document.querySelector(`#playButton_${songId}`);
            const songCard = document.querySelector(`#songCard_${songId}`);

            const playIcon = playButton.querySelector('.play');
            const pauseIcon = playButton.querySelector('.pause');
            const buttonText = playButton.querySelector('.button-text');

            const audioElement = audioElements[songId];

            // stop all other songs
            for (const key in audioElements) {
                if (key != songId) {
                    const playButton = document.querySelector(`#playButton_${key}`);
                    const songCard = document.querySelector(`#songCard_${key}`);

                    const playIcon = playButton.querySelector('.play');
                    const pauseIcon = playButton.querySelector('.pause');
                    const buttonText = playButton.querySelector('.button-text');

                    audioElements[key].pause();
                    playIcon.classList.remove('hidden');
                    pauseIcon.classList.add('hidden');
                    buttonText.innerHTML = 'Play';
                    songCard.style.border = '1px solid rgba(41, 42, 45, 0.4)';
                }
            }


            audioElement.play();
            playIcon.classList.toggle('hidden');
            pauseIcon.classList.toggle('hidden');
            buttonText.innerHTML = 'Pause';
            songCard.style.border = '1px solid #e2f8f6d7';
        }

        function handlePause(songId) {
            const playButton = document.querySelector(`#playButton_${songId}`);
            const songCard = document.querySelector(`#songCard_${songId}`);

            const audioElement = audioElements[songId];

            const playIcon = playButton.querySelector('.play');
            const pauseIcon = playButton.querySelector('.pause');
            const buttonText = playButton.querySelector('.button-text');

            audioElement.pause();
            playIcon.classList.toggle('hidden');
            pauseIcon.classList.toggle('hidden');
            buttonText.innerHTML = 'Play';
            songCard.style.border = '1px solid rgba(41, 42, 45, 0.4)';
        }

        document.addEventListener('keydown', (event) => {
            if (event.code == 'Space') {
                flag = true;
                for (const key in audioElements) {
                    if (!audioElements[key].paused) {
                        handlePause(key);
                        flag = false;
                        lastPausedId = key;
                    }
                }

                if (flag) {
                    if (lastPausedId != null) {
                        handlePlay(lastPausedId);
                    }
                }
            }
        });
    </script>

    <div class="mainScreen" style="height: 96vh;">
        <header>
            <nav>
                <ul class="nav-bar">
                    <a class="logo" href="/">
                        <i class="material-icons">music_note</i>
                        <span class="logo-text">Music App</span>
                    </a>
                    <span class="menu">
                        <li><a href="/playlist">Playlist</a></li>
                        <li><a href="/song">Songs</a></li>
                        <li><a href="/user/dashboard">Dashboard</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </span>
                    <span class="logo menu-trigger hidden">
                        <i class="material-icons">menu</i>
                    </span>
                </ul>
            </nav>
        </header>

        <div class="content">

            <h2>Songs</h2>
            <br />
            <form action="/song" method="GET"
                style="border: 1px solid rgba(42, 45, 42, 0.4); padding: 16px; border-radius: 16px;">
                <div class="searchBar">
                    <input type="text" name="search" value="{{searchQuery}}" id="search" placeholder="Search Songs"
                        style="width: 540px;" />
                </div>
                <div class="searchBar">
                    <select class="select" name="songGenre" id="songGenre" style="width: 540px;">
                        <option class="select" value="" selected>Select Genre</option>
                        {% for genre in genreList %}
                        {% if genre[0] == songGenre %}
                        <option class="select" value="{{ genre[0] }}" selected>{{ genre[1] }}</option>
                        {% else %}
                        <option class="select" value="{{ genre[0] }}">{{ genre[1] }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="searchBar">
                    <select class="select" name="songLanguage" id="songLanguage" style="width: 540px;">
                        <option class="select" value="" selected>Select Language</option>
                        {% for language in languageList %}
                        {% if language[0] == songLanguage %}
                        <option class="select" value="{{ language[0] }}" selected>{{ language[1] }}</option>
                        {% else %}
                        <option class="select" value="{{ language[0] }}">{{ language[1] }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Search" class="button" style="width: 100%;" />
            </form>

            <br />

            <!-- Song Cards -->
            {% if songList | length == 0 %}
            <div class="empty">
                <h3 style="text-align: center;">No Songs Found</h3>
                <p style="text-align: center;">Click on the button above to add a new song</p>
            </div>
            {% else %}
            <div class="songList" id="songListElement">
                {% for song in songList %}
                <div style="display: block;">
                    <div class="songCard" id="songCard_{{song[0]}}">
                        <div class="songCard__image">
                            <img src="/static/music/poster/{{song[0]}}.{{song[5]}}" alt="Song Image">
                        </div>
                        <div class="songCard__details">
                            <h3>{{song[1]}}</h3>
                            <p class="genreChip">{{song[2]}}</p>
                        </div>
                        <hr />
                        <div class="songCard__buttons">
                            <div class="iconRow playButton" id="playButton_{{song[0]}}"
                                onclick="handlePlayPause(`{{song[0]}}`, `{{song[4]}}`)">
                                <i class="material-icons play">play_arrow</i>
                                <i class="material-icons pause hidden">pause</i>
                                <p class="button-text">Play</p>
                            </div>
                            <a>
                                <i class="material-icons"
                                    onclick="lyricsModalPopup(`{{song[1]}}`, `{{song[3] | safe}}`)">lyrics</i>
                            </a>
                        </div>
                        <div class="songCard__buttons">
                            <a class="iconRow playButton" style="cursor: pointer; background-image: none; color: white;"
                                id="likeButton_{{song[0]}}" href="/song/{{song[0]}}/like">
                                <i class="material-icons">thumb_up</i>
                                <p class="button-text">{{song[7]}}</p>
                            </a>
                            <a style="cursor: pointer" id="unLikeButton_{{song[0]}}" href="/song/{{song[0]}}/unlike">
                                <i class="material-icons">thumb_down</i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">
            <div class="form-container">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2 id="modalTitle"></h2>
            </div>
            <p id="lyricsBody"></p>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- JS -->
    <script type="text/javascript" src="../../static/js/base.js"></script>
</body>

</html>